body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body * {
  box-sizing: border-box;
}
body .airtable-pricing-calculator-container {
  font-family: Inter, serif;
  font-style: normal;
  font-size: 13px;
  border-radius: 10px;
  padding: 44px 26px;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 16px rgba(40, 25, 45, 0.08);
}
body .airtable-pricing-calculator-container .title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #242239;
  text-align: center;
  margin-bottom: 3rem;
}
body .airtable-pricing-calculator-container .questions-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper {
  margin-bottom: 2rem;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .user-number-input-wrapper {
  display: flex;
  flex-direction: column;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .user-number-input-wrapper label {
  font-size: 11px;
  margin-bottom: 8px;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .user-number-input-wrapper input {
  border: solid 1px #DDD;
  border-radius: 6px;
  margin: 0;
  padding: 10px 12px;
  box-sizing: border-box;
  height: 42px;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .user-number-input-wrapper input::-webkit-inner-spin-button, body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .user-number-input-wrapper input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .user-number-input-wrapper input:hover {
  border-color: #FFB30B;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .user-number-input-wrapper input:focus {
  outline: none;
  border-color: #FFB30B;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .user-number-input-wrapper .number-input-error-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3px;
  font-size: 12px;
  color: #353535;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .user-number-input-wrapper .number-input-error-message i {
  margin-right: 6px;
  color: red;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .question-text {
  font-size: 13px;
  margin: 12px 0;
  text-align: center;
  white-space: inherit;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .answers-toggle {
  display: flex;
  justify-content: center;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .answers-toggle input {
  width: 0;
  height: 0;
  position: absolute;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .answers-toggle input + label {
  min-width: 80px;
  max-width: 200px;
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: 6px;
  box-sizing: border-box;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #DDD;
  background-color: #FFF;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}
@media (max-width: 800px) {
  body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .answers-toggle input + label {
    font-size: 11px;
  }
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .answers-toggle input + label:first-of-type {
  border-radius: 6px 0 0 6px;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .answers-toggle input + label:last-of-type {
  border-radius: 0 6px 6px 0;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .answers-toggle input:hover + label {
  border-color: #FFB30B;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .answers-toggle input:checked + label {
  background-color: #FFB30B;
  color: #FFF;
  box-shadow: 0 0 10px rgba(255, 179, 11, 0.5);
  border-color: #FFB30B;
  z-index: 1;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .radio-button-error-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6px;
  font-size: 11px;
  color: #353535;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .radio-button-error-message i {
  margin-right: 6px;
  color: red;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .feature-Options-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 2rem;
  grid-template-areas: ". .";
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 24px;
  min-width: 300px;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .feature-Options-wrapper div {
  display: flex;
  align-items: center;
  min-width: 300px;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .feature-Options-wrapper div input {
  flex: 1;
  width: 16px;
  height: 16px;
}
body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .feature-Options-wrapper div label {
  flex: 5;
  font-size: 13px;
  margin: 0;
}
@media (max-width: 1100px) {
  body .airtable-pricing-calculator-container .questions-wrapper .question-wrapper .feature-Options-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }
}
body .airtable-pricing-calculator-container .questions-wrapper .input-error-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3px;
  font-size: 11px;
  color: #353535;
}
body .airtable-pricing-calculator-container .questions-wrapper .input-error-message i {
  margin-right: 6px;
  color: red;
}
body .airtable-pricing-calculator-container .questions-wrapper .softr-btn {
  background-color: #FFB30B;
  color: #2a182e;
  padding: 12px 30px;
  border-radius: 0.5rem;
  line-height: 1.5;
  font-weight: 600;
  font-family: "Inter", serif;
  font-size: 13px;
  cursor: pointer;
  border-width: 0;
}

/*# sourceMappingURL=style.css.map */
